what metadata goes into client_metadata parameter?

### Imported from AB/Connect bitbucket:  https://bitbucket.org/openid/connect/issues/1814
### Original Reporter: KristinaYasuda

currently we just say that any client metadata can go into a `client_metadata` parameters, but I think parameters like `redirect_uris`, `response_types`, `grant_types` should be prohibited to be included.

@Sakurann @peppelinux @tlodderstedt 
I would like to pick up this topic again.

If I compare [this](https://openid.github.io/OpenID4VP/openid-4-verifiable-presentations-wg-draft.html#name-verifier-metadata-client-me) with what we have in OpenID4VCI, I see a disparity.

Developers at Bundesdruckerei stumbled over this and were confused as there is little guidance how DCR client metadata fits into OpenID4VP. I would like to see more normative parameters inside the OpenID4VP spec.


@paulbastian this issues is realted to anything assuming hte role of client, then it would be the Wallet Instance in the issuance phase, or the RP in the presetation phase

for the italian model we have defined at least these base claims

| **key**                    | **value**                                      |
|----------------------------|------------------------------------------------|
| authorization_endpoint     | URL of the SIOPv2 Authorization Endpoint.      |
| response_types_supported   | JSON array containing a list of the OAuth 2.0 `response_type` values. |
| response_modes_supported   | JSON array containing a list of the OAuth 2.0 "response_mode" values that this authorization server supports. `RFC 8414 section 2` |
| vp_formats_supported       | JSON object with name/value pairs, identifying a Credential format supported by the Wallet. |
| request_object_signing_alg_values_supported | JSON array containing a list of the JWS signing algorithms (alg values) supported. |
| presentation_definition_uri_supported | Boolean value specifying whether the Wallet Instance supports the transfer of `presentation_definition` by reference. MUST set to `false`. |

@peppelinux, the metadata parameters you quote in the table above are AS metadata parameters, not client metadata parameters..

@Sakurann as mentioned in the intro text (and sorry for the out-of-topic) those are the claims related to the Wallet Instance Technical Capabilities. It was included here according to a chat/meet as a reference, to be not confused with the purpose of this issue related to the RP's metadata

#138 is related.

bumping this up as there have been additional inquiries what can client_metadata be used for

WG call
- (if not already) clarify the diff btw signed/unsigned requests (@tplooker )
- what if jwks (or any other parameter) is duplicative between client_metadata and whatever wallet obtained using trust chain. (@awoie )
- Some of the parameters kristina thought are clear to be prohibited do not seem to be (@jogu)
- what parameters make sense in an unsigned request?

I think it would be worth asking if we actually need `client_metadata_uri`. Given we have federation entity_ids and a suggestion for a client_id_scheme that includes pulling metadata from a .well-known and the ability to pass the entire request via a uri I'm not sure I see a use case for `client_metadata_uri`. (Removing client_metadata_uri would make figuring out which meta data can be used / in which cases simpler I think, hence why I'm bringing it up on this issue.)

> what if jwks (or any other parameter) is duplicative between client_metadata and whatever wallet obtained using trust chain. (@awoie )

The value from the trust chain should take precedence, because the wallet is dependent upon the trust infrastructure in order to retrieve reliable information. The metadata should not take precedence, because a dishonest RP may send "false" metadata in order to trick the wallet into believing untrustworthy information.


client_id and client_name are both mandatory, but what if they are inconsistent? E.g. the client_id is mallory but the client_name is Mr Nice Guy. The user only sees the latter on the consent page. The client_name should be optional, and it should be replaceable by whatever the trust infrastructure returns for the client_name of the client_id. In this way a lowly trusted client_id wont be able to present the name of a highly trusted client_name to the user.

This is the list of metadata parameters we agreed on in the WG call on the 21st of May:
- jwks 
- vp_formats
- authorization_signed_response_alg
- authorization_encrypted_response_alg
- authorization_encrypted_response_enc

Open: define the list in the spec? OIDF cannot establish a new IANA registry.
Open: use different parameter name for passing the ephm encryption key? Leaning towards changing the name. 
Open: does it make a difference whether the request is signed or not?

> Open: use different parameter name for passing the ephm encryption key? Leaning towards changing the name.

Note that the existing section on using JARM will need to be updated to account for a name change.   
https://openid.net/specs/openid-4-verifiable-presentations-1_0-20.html#section-6.3-10 has text such as:

"The key material used for encryption and signing SHOULD be determined using existing metadata mechanisms.

To obtain Verifier's public key for the input to the key agreement to encrypt the Authorization Response, the Wallet MUST use jwks or jwks_uri claim within the client_metadata request parameter,... "

`jwks` is currently used in two different ways in the context of the `client_metadata` parameter:
1. conveying ephemeral keys used for DH to derive a JARM encryption key
2. conveying ephemeral keys for DH to derive MAC keys

Both 1. and 2. typically require the wallet to do DH key agreement and using key derivation function, e.g., HKDF/ConcatKDF. There are specifications that may reuse the same key for 1. and 2., e.g., ISO 18013-5 (although they allow for dedicated keys as well). I don't know if there is a specific problem with reusing the same key for 1. and 2. but I'd prefer having it clearly separated by having distinct parameters. 

Today, one option how keys for 1. can be distinguished from keys for 2. within `jwks` is to set the JWK `alg` value to `ECDH-ES` for encryption/JARM.

Note that key usages for 1. and 2. would set the JWK `use` value to `enc` as per JWK:
> The "enc" value is also to be used for public keys used for key agreement operations.

Also note that for 1., the key is not directly used as a content encryption key, and for 2., the key is not directly used as a MAC key because both keys are used for DH to derive other keys. This is why, IMHO, I think both are not appropriate but I would be curious what other implementations would normally do?

Option A:
This just shows that it would be better to have distinct metadata parameters to resolve potential ambiguity which is why I'm in favor of having distinct metadata parameters. For example, `encryption_epks/jwks`, `mac_epks/jwks` (names to be bikeshedded). Perhaps the `mac_epks/jwks` one could be format specific since not all VPs in all formats will require this.

Option B:
Alternatively, we could define a new `use`/`key_ops` value specifically for DH-negotiated MAC operations but this is not my preference.

also a note from PR #165. we should clarify whether client_metadata parameters can be used with any client_id_schemes or not. originally, there was a text saying that client_metadata should be not be used with pre-registered clients but in the course of the discussion in the PR and issue #96 it was brought up that ephemeral encryption key for example can be passed in the client metadata even for preregistered clients.

@tlodderstedt 

I believe that it is important to also include presentation definition in cases where the RP does not necessarily have to modify the set of credentials/attributes required for each request, and that in addition these can be enabled by a federation authority through verifiable metadata.
 
I would not underestimate also `contacts` and `client_id`

Here is a proposal for the creation of a new parameter name designed to address the federative challenges introduced by some trust frameworks in implementations:

https://github.com/openid/OpenID4VP/issues/189 

> * jwks
> 
> * vp_formats
> 
> * authorization_signed_response_alg
> 
> * authorization_encrypted_response_alg
> 
> * authorization_encrypted_response_enc

I would not understimate the importance of `client_name` for a good UX during the Consent/SD

> I would not understimate the importance of client_name for a good UX during the Consent/SD

As I mentioned earlier, there needs to be some way of validating the client_name against the client_id, otherwise a bad RP could use a non-matching client_id and client_name.

> > I would not understimate the importance of client_name for a good UX during the Consent/SD
> 
> As I mentioned earlier, there needs to be some way of validating the client_name against the client_id, otherwise a bad RP could use a non-matching client_id and client_name.

The client_id is often an HTTPS URL value or an opaque string, while the client_name provides a human-readable representation of the RP's name. From my perspective, these are different parameters with distinct purposes, and their values do not necessarily need to match.

I think you are missing the point. We can have a client_id https://x.com with a matching client name of My Company, and another client_id of https://y.com with a matching client name of Your Company. There must be some way to stop the latter from saying client_id https://y.com with client name of My Company since it the client name that is shown to the user, but the client_id is checked for trustworthiness by the wallet. Thus the trust infrastructure should return the valid client name for the trusted client_id


@David-Chadwick yes I was missing the point, got it.

openid federation uses metadata and or metadata_policy in the subordinate statements to fix the leaves metadata to the only possible and allowed data.

The point you mentioned can be formalized as a functional requirement of the trust infrastructure I agree.

here my current proposal, where @tlodderstedt 's proposal is included as well

| Claim | Description | Reference |
|----------------------------------------|---------------------------------------------------------------------------------------------------------------------------|-----------|
| client_id | It MUST contain an HTTPS URL that uniquely identifies the RP. | RFC 7591 Section 3.2.1 and OpenID Connect Dynamic Client Registration 1.0 Section 3.2 |
| client_name | Human-readable string name of the RP. | RFC 7591 Section 2 |
| authorization_signed_response_alg | String representing the JWS alg algorithm that MUST be used for signing authorization responses. The algorithm none MUST NOT be used. | RFC 7515 and oauth-v2-jarm-03 Section 3 |
| authorization_encrypted_response_alg | |
| authorization_encrypted_response_enc | |
| vp_formats | JSON object defining the formats and proof types of Verifiable Presentations and Verifiable Credentials the RP supports. | OPENID4VC-HAIP Draft 00 Section 7.2.7 and OpenID4VP Draft 20 Section 9.1 |
| jwks | JSON Web Key Set document, passed by value, containing the protocol specific keys for the Relying Party. | oauth-v2-jarm-03 Section 3, OIDC-FED Draft 36 Section 5.2.1, and JWK |



Discussed on today's call; Joseph to do a PR based on Torsten's comment recording the previous WG consensus, https://github.com/openid/OpenID4VP/issues/17#issuecomment-2123350290

And just to respond to @peppelinux's comment above; the main two differences between his proposal and Torsten's were:

1. Addition of `client_id` - this isn't needed because client_id is already present at the top level of the authorization request
2. Addition of `client_name` - based on previous comments on this issue this seems contentious and I think we should discuss it in a separate issue if someone has a good use case for it. I am not yet clear in what situation it is useful for a client to provide a self-attested client_name, nor how that might be done without allowing the client to lie about its client_name. OAuth is generally based around the principle that one client_id has a single name, and that name is normally obtained from a trusted source rather than provided in the request.