Changing JARM references to JWT directly

Currently, we use JARM as the means for response encryption. This works very well for signed responses, but is expressly forbids unsigned responses. This has resulted in a lot of text that says, in the case of unsigned, encrypted responses to ignore large portions of the spec. 

Currently, there doesn't seem to be well understood uses for signed responses at all. Given that, removing the reference to JARM and changing the text that we currently use to countermand JARM to instead say 'use an unsigned, encrypted JWT' would simplify life for readers/implementers substantially while being minimal/no change for existing implementations. 

Example New Text: 

section 5.1
…
Client_metadata
…
authorization_encrypted_response_alg: [OPTIONAL] The JWE [RFC7516] alg algorithm REQUIRED for encrypting authorization responses. If omitted, then no encryption is performed.
[gco.] Could replace this with jwk kid instead (as the  jwk specifies alg), which would be more explicit and help from an implementation side when jwks are passed in-band, but when it is oob this might still make sense?
authorization_encrypted_response_enc: [OPTIONAL] The JWE [RFC7516] enc algorithm REQUIRED for encrypting authorization responses. If authorization_encrypted_response_alg is specified, the default for this value is A128CBC-HS256. When authorization_encrypted_response_enc is included, authorization_encrypted_response_alg MUST also be provided.
…
8.3. Encrypted Responses
This section defines how an Authorization Response containing a VP Token can be encrypted at the application level when the Response Type value is vp_token or vp_token id_token. Encrypting the Authorization Response can prevent personal data in the Authorization Response from leaking, when the Authorization Response is returned through the front channel (e.g., the browser).
To encrypt the Authorization Response, implementations MUST use an unsigned, encrypted JWT as described in [RFC7519]. For security considerations see Section 14.5.
This MUST be used for the following response_modes:
dc_api.jwt
direct_post.jwt
[gco: Are the existing jarm response modes relevant? If so, we should include them here]
Note that for the ECDH JWE algorithms (from section 4.6 of [RFC7518]), the apu and apv values are inputs into the key derivation process that is used to derive the content encryption key. Regardless of algorithm used, the values are always part of the AEAD tag computation so will still be bound to the encrypted response. The following is a non-normative example of the payload of a JWE used in an Authorization Response:
{ … example unchanged … }
The JWE response document MUST include the vp_token and, if [DIF.PresentationExchange] was used in the request, the presentation_submission parameters as defined in Section 8.1.
The key material used for encryption SHOULD be determined using existing metadata mechanisms.
To obtain Verifier's public key for the input to the key agreement to encrypt the Authorization Response, the Wallet MUST use jwks claim within the client_metadata request parameter, or within the metadata defined in the Entity Configuration when [OpenID.Federation] is used, or other mechanisms.
Note: For encryption, implementers have a variety of options available through JOSE, including the use of Hybrid Public Key Encryption (HPKE) as detailed in [I-D.ietf-jose-hpke-encrypt].
8.3.1. Response Mode "direct_post.jwt"
This specification also defines a new Response Mode direct_post.jwt, which allows for encryption to be used with Response Mode direct_post defined in Section 8.2.

The Response Mode direct_post.jwt causes the Wallet to send the Authorization Response using an HTTP POST request instead of redirecting back to the Verifier as defined in Section 8.2. The Wallet adds the response parameter containing the JWT as defined in Section 8.3 in the body of an HTTP POST request using the application/x-www-form-urlencoded content type. The names and values in the body MUST be encoded using UTF-8.

If a Wallet is unable to generate an encrypted response, it MAY send an error response without encryption as per Section 8.2.

The following is a non-normative example of a response using the presentation_submission and vp_token values from Appendix B.1.1. (line breaks for display purposes only):

POST /post HTTP/1.1
Host: client.example.org
Content-Type: application/x-www-form-urlencoded

  response=eyJra...9t2LQ
The following is a non-normative example of the payload of the JWT used in the example above before base64url encoding and encrypting:
{ … example unchanged … }


